[submodule "repos/discourse-unicons"]
	path = repos/discourse-unicons
	url = git@github.com:discourse/discourse-unicons.git
[submodule "repos/discourse-feather-icons"]
	path = repos/discourse-feather-icons
	url = git@github.com:discourse/discourse-feather-icons.git
[submodule "repos/discourse-phosphor-duotone-icons"]
	path = repos/discourse-phosphor-duotone-icons
	url = git@github.com:discourse/discourse-phosphor-duotone-icons.git
[submodule "repos/discourse-heroicons"]
	path = repos/discourse-heroicons
	url = git@github.com:discourse/discourse-heroicons.git
[submodule "repos/discourse-heroicons-outline"]
	path = repos/discourse-heroicons-outline
	url = git@github.com:discourse/discourse-heroicons-outline.git
[submodule "repos/discourse-material-design-icons-filled"]
	path = repos/discourse-material-design-icons-filled
	url = git@github.com:discourse/discourse-material-design-icons-filled.git
[submodule "repos/discourse-material-design-icons-outlined"]
	path = repos/discourse-material-design-icons-outlined
	url = git@github.com:discourse/discourse-material-design-icons-outlined.git
[submodule "repos/discourse-material-design-icons-rounded"]
	path = repos/discourse-material-design-icons-rounded
	url = git@github.com:discourse/discourse-material-design-icons-rounded.git
[submodule "repos/discourse-material-design-icons-sharp"]
	path = repos/discourse-material-design-icons-sharp
	url = https://github.com/discourse/discourse-material-design-icons-sharp.git
[submodule "rpos/discourse-material-design-icons-twotone"]
	path = rpos/discourse-material-design-icons-twotone
	url = git@github.com:discourse/discourse-material-design-icons-twotone.git
[submodule "rwpos/discourse-material-design-icons-twotone"]
	path = rwpos/discourse-material-design-icons-twotone
	url = git@github.com:discourse/discourse-material-design-icons-twotone.git
[submodule "repos/discourse-material-design-icons-twotone"]
	path = repos/discourse-material-design-icons-twotone
	url = git@github.com:discourse/discourse-material-design-icons-twotone.git
