[submodule "repos/discourse-unicons"]
	path = repos/discourse-unicons
	url = git@github.com:discourse/discourse-unicons.git
[submodule "repos/discourse-feather-icons"]
	path = repos/discourse-feather-icons
	url = git@github.com:discourse/discourse-feather-icons.git
[submodule "repos/discourse-phosphor-duotone-icons"]
	path = repos/discourse-phosphor-duotone-icons
	url = git@github.com:discourse/discourse-phosphor-duotone-icons.git
[submodule "repos/discourse-heroicons"]
	path = repos/discourse-heroicons
	url = git@github.com:discourse/discourse-heroicons.git
[submodule "repos/discourse-heroicons-outline"]
	path = repos/discourse-heroicons-outline
	url = https://github.com/discourse/discourse-heroicons-outline