[submodule "repos/discourse-unicons"]
	path = repos/discourse-unicons
	url = https://github.com/discourse/discourse-unicons
[submodule "repos/discourse-feather-icons"]
	path = repos/discourse-feather-icons
	url = https://github.com/discourse/discourse-feather-icons
[submodule "repos/discourse-phosphor-duotone-icons"]
	path = repos/discourse-phosphor-duotone-icons
	url = https://github.com/discourse/discourse-phosphor-duotone-icons
